body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}
* {
    padding: 10px;
    text-align: center;
}
header {
    background-color: tomato;
}
.left-aside {
    background-color: gold;
}
.right-aside {
    background-color: hotpink;
}
main {
    background-color: deepskyblue;
}
footer {
    background-color: lightgreen;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container>* {
    flex: 1 100%;
}

@media all and (min-width: 600px){
    .left-aside {
        flex-basis: auto;
    }
    .right-aside {
        flex-basis: auto;
    }
}

@media all and (min-width: 800px) {
    .left-aside {
        flex-basis: auto;
        order: 1;
    }
    main {
        flex-basis: auto;
        order: 2;
        max-width: 33%;
    }
    .right-aside {
        flex-basis: auto;
        order: 3;
    }
    footer {
        order: 4;
    }
}