body{
    background-color: #EFECCA;
	font-family: Helvetica, Arial;
}
h1{
    color: #C03000;
}
h2{
    color: #4BB5C1;
}
li{
    display: inline-block;
    border-color: #660000;
    background-color: #C03000;
    padding: 10px;
    border: solid 2px;
}
li>a{
    color: #EFECCA;
    text-decoration: none;
}
li:hover{
    background-color: #009900;
}
footer>p>a{
    color: #0000FF;
    text-decoration: none;
    font-weight: bold;
}