body {
	background-color: #000099;
	font-family: Helvetica, Arial;
}
li {
	background-color: #ffffff;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
}
[type=text] {
	border-radius: 3px;
}
[type=submit] {
	border-radius: 10px;
}