body {
	background-color: #000099;
	font-family: Helvetica, Arial;
	width: 25%;
}
h1 {
	text-align: center;
	color: #ffffff;
}
li {
	background-color: #ffffff;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	margin: 10px;
	list-style-type: none;
}
form {
	text-align: center;
}
[type=text] {
	border-radius: 3px;
}
[type=submit] {
	border-radius: 10px;
}